.DS_Store
node_modules
/**/dist
/debug.log
/coverage
/temp_types
/packages/*/types
/scripts/userInfo.js
package-lock.json
yarn.lock
lerna-debug.log


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
