.player-icon-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
  font-size: 25px;
  color: var(--player-icon-color, $icon-color);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.player-not-select {
  user-select: none;
}

.player-fullscreen {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1000;
  width: 100vw !important;
  height: 100vh !important;
}
