.player-live-tip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.player-live-tip-dot {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  background-color: var(--player-theme, $main-color);
  border-radius: 50%;
}

.player-live-tip {
  font-size: 14px;
  color: var(--player-text-color, $text-color);
}
