.player-process-slot {
  position: absolute;
  top: -8px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.player-process-pc {
  .player-process-ball {
    transform: scale(0);
  }

  &:hover {
    .player-process-ball {
      transform: scale(1);
    }
  }
}

.player-process-content {
  position: relative;
  width: 100%;
}

.player-process-mask {
  position: relative;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.player-process-time {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 10;
  padding: 3px;
  font-size: 12px;
  color: var(--player-text-color, $text-color);
  pointer-events: none;
  user-select: none;
  background-color: var(--player-text-wrapper-background-color, $text-wrapper-background-color);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
}

.player-process-wrapper {
  position: relative;
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: var(--player-process-background-color, $process-background-color);
}

.player-process-loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--player-loaded-background-color, $loaded-background-color);
  transition: all 300ms;
}

.player-process-played {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: var(--player-theme-color, $theme-color);
  transition: all 300ms;
}

.player-process-ball {
  position: absolute;
  top: 50%;
  right: -5px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background-color: var(--player-theme-color, $theme-color);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
