
:root {
  --player-theme-color: #fb6640;
  --player-icon-color: #fff;
  --player-container-background-color: #000;
  --player-text-color: #fff;
  --player-text-wrapper-background-color: rgba(0, 0, 0, 0.4);
  --player-label-background-color: rgba(255, 255, 255, 0.2);
  --player-process-background-color: rgba(255, 255, 255, 0.2);
  --player-loaded-background-color: rgba(255, 255, 255, 0.4);
  --player-error-background-color: rgba(0, 0, 0, 0.5);
  --player-error-color: red;
}
