.player-scale-enter-active,
.player-scale-leave-active {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform;
}

.player-scale-enter,
.player-scale-leave-to {
  transform: scale(0);
}

.player-fade-enter-active,
.player-fade-leave-active {
  transition: opacity 500ms ease;
}

.player-fade-enter,
.player-fade-leave-to {
  opacity: 0;
}

.player-strect-enter-active,
.player-strect-leave-active {
  transition: width 500ms ease;
}

.player-strect-enter,
.player-strect-leave-to {
  width: 0 !important;
}

.player-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100% !important;
  height: 100% !important;
}

.player-icon-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
