.player-container {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #000;
}

.player-video {
  width: 100%;
  height: 100%;
  // object-fit: fill;
}

.player-video-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
