.player-mobile-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: #fff;
  pointer-events: none;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
  transform: translate(-50%, -50%);
}
