@import "./fonts//iconfont.css";

.danmaku-item {
  position: absolute;
  left: 100%;
  white-space: nowrap;

  /* 提前告知浏览器那些属性会变化，提高性能 */
  will-change: transform;
  pointer-events: none;
}

.danmaku-container {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.danmaku-container-all {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.danmaku-container-top {
  top: 0;
  bottom: 50%;
  width: 100%;
  height: 50%;
}

.danmaku-container-bottom {
  top: 50%;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.danmaku-icon-item {
  margin-right: 15px;
  font-size: 25px;
}

.danmaku-setting-container {
  position: relative;
  height: 100%;

  &:hover {
    .danmaku-float-container {
      display: block;
    }
  }
}

.danmaku-float-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  padding: 5px 0;
  font-size: 13px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -100%);
  // display: none;
}

.danmaku-setting-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.danmaku-progress {
  flex: 1;
  height: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.danmaku-played {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 102, 64);
}

.danmaku-ball {
  position: absolute;
  top: 50%;
  right: -5px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background-color: rgb(251, 102, 64);
  border-radius: 50%;
}

.danmaku-setting-label {
  width: 55px;
  margin-right: 10px;
  text-align: right;
}

.danmaku-setting-input {
  display: none;
  max-width: 0;
  max-height: 0;
}

.danmaku-setting-text {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 20px;
  cursor: pointer;
  border-radius: 10px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 18px;
    content: "";
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }

  &::after {
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    content: "";
    background: #fff;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }
}

.danmaku-setting-open {
  &::before {
    background: rgb(251, 102, 64);
  }

  &::after {
    left: 17px;
  }
}

.danmaku-setting-close {
  &::before {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    left: 0;
  }
}

.danmaku-radio {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  border: 1px solid #fff;
}

.danmaku-area-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.danmaku-setting-area {
  padding: 5px 10px;
}

.danmaku-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.danmaku-area-span {
  flex: 1;
  text-align: center;
  cursor: pointer;

  >span {
    pointer-events: none;
  }
}

.danmaku-radio-checked {
  .danmaku-radio {
    background-color: rgb(251, 102, 64);
    border-color: rgb(251, 102, 64);

    &::after {
      position: absolute;
      top: -1px;
      left: 3px;
      box-sizing: content-box;
      width: 3px;
      height: 7px;
      content: "";
      border: 1px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scaleY(1);
    }
  }
}
